<%= form_with(model: board, local: true, class: 'form-inlin justify-content-center') do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "sr-only" %>
    <%= form.text_field :title, class: "form-control", placeholder: "Board name" %>
  </div>

    <%= form.submit 'Save', class: "btn btn-success" %>
<% end %>
